@model fa2Server.Models.allUserLst;
@{

}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>??????</h1>
    <form action="" method="post">
        <div><input type="text" name="name" value="" /></div>
        <input type="submit" value="ok" />
    </form>
</body>
</html>